/*Color Palette
secondary objects: #D22D99
main text: #2dd266
background: #3a3737
*/
* {
    font-family: 'Raleway', sans-serif;
}
.bg-main{
    background-color: #a2f9c0;
}
.bg-nav {
    background: #333333;
}
.bg-pink{
    background-color: #FE88C1;
}
.text-nav {
    color:#2dd266;
}
.text-pink{
    color: #FE88C1;
}
.logo {
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
}
a:link {
    color:#2dd266;
}
a:visited {
    color:#2dd266;
}
a:hover {
    color:#FE88C1;
}
a:active {
    color:#D2B92D;
}