/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Titillium Web', sans-serif;*/
/*Color Palette

secondary objects: #D22D99
main text: #2dd266
background: #3a3737

*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #a2f9c0;
    font-family: 'Raleway', sans-serif;
}
nav {
    background: #333333;
    display: flex;
    justify-content: space-between;
}
ul {
    list-style: none;
    display: flex;
    padding: 0;
}
.nav-links {
    display: inline-block;
    padding: 1em .5em;
}
.logo {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.5em;
    align-items: center;
}
h3, p {
    padding-bottom: 1.5em;
    text-align: center;
}
main {
    width: 90%;
    height: 100VH;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
div {
    border: solid 2px #333333;
    border-radius: 2px;
    padding: 2em;
    margin: 2em;
}
hr {
    width: 50%;
    border: 3px solid #333333;
    border-radius: 3px;
    margin: auto;
}
a {
    text-decoration: none;
}
a:link {
    color:#2dd266;
}
a:visited {
    color:#2dd266;
}
a:hover {
    color:#FE88C1;
}
a:active {
    color:#D2B92D;
}